In [1]:
from corre import *

Use scipy logsumexp().

In [16]:
covid = pd.read_csv("../2021data/nyt-us-states.csv")

In [17]:
covid

             date          state  fips    cases  deaths
0      2020-01-21     Washington    53        1       0
1      2020-01-22     Washington    53        1       0
2      2020-01-23     Washington    53        1       0
3      2020-01-24       Illinois    17        1       0
4      2020-01-24     Washington    53        1       0
...           ...            ...   ...      ...     ...
41273  2022-03-19       Virginia    51  1659710   19466
41274  2022-03-19     Washington    53  1446542   12406
41275  2022-03-19  West Virginia    54   496409    6646
41276  2022-03-19      Wisconsin    55  1580539   13960
41277  2022-03-19        Wyoming    56   155907    1769

[41278 rows x 5 columns]

In [18]:
start_date = '2020-04-01'
end_date = '2021-12-31'
mask = (covid['date'] >= start_date) & (covid['date'] <= end_date)
masked_covid = covid.loc[mask]

In [58]:
covid[(covid["date"]=="2020-03-31") & (covid["state"]=="Wisconsin")]["cases"].iloc[0]

1351

In [31]:
cases = masked_covid.pivot(index="date",columns="state",values="cases").drop(["Guam","American Samoa","Northern Mariana Islands","Puerto Rico","Virgin Islands"],axis=1)

In [34]:
cases = cases[sorted(cases.columns)]

In [35]:
#cases.to_csv("../two_year/two_year_cases.csv",index_label="date")

In [37]:
daily = cases.diff(periods=1, axis=0)

In [59]:
for s in daily.columns:
    daily.iloc[0][s] = cases.iloc[0][s]-covid[(covid["date"]=="2020-03-31") & (covid["state"]==s)]["cases"].iloc[0]

In [67]:
daily[daily<0]=0

In [70]:
#daily.to_csv("../two_year/two_year_daily.csv",index_label="date")

In [71]:
death = masked_covid.pivot(index="date",columns="state",values="deaths").drop(["Guam","American Samoa","Northern Mariana Islands","Puerto Rico","Virgin Islands"],axis=1)

In [73]:
death = death[sorted(death.columns)]
#death.to_csv("../two_year/two_year_deaths.csv",index_label = "date")

In [ ]:
cci20 = pd.read_csv("../data/")